# object files
*.o
*.obj
tags

# compiled binary
sslscan
sslscan.exe

# debian build of openssl
openssl-*/
openssl_*
libcrypto*
libssl*

# custom openssl build
.openssl.is.fresh
.openssl.is.fresh.tmp
